/* # fuer Tag-ID und . fuer CSS-Klasse */

#header {
	height: 75px;
	/* width: 99%; */
	/*background-color: #FFDEAD;*/ 
	background-color: #32CD32;
}

#nav {
	float: left;
	width: 15%;
	height: 500px;
	padding: 5px;
	/*background-color: #FFEBCD;*/ 
	background-color: #98FB98; 
}

#aside {
	float: right;
	width: 20%;
	height: 500px;
	padding: 5px;
	/*background-color: #FFEBCD;*/ 
	background-color: #98FB98; 
}

#article {
	margin-left: 5%;
 	margin-right: 20%;
 	position: relative;
 	float: left;
	overflow: auto;
	padding: 5px;
}

#footer {
	clear: left;     /* http://de.selfhtml.org/css/eigenschaften/positionierung.htm#clear */
	padding: 10px;
	background-color: #98FB98;
}


img {
	border: None;
}

h1 {
	font-style: italic;
}

.error {
	color: red;
	font-style: bold;
	list-style-type: none;
}

.tabelleMitZebrastil {
}
.odd-row {
	background-color: #ECF3FE;
}
.even-row {
	background-color: #FCFFFE;
}
.active-row {
	background-color: #FFEBDA;
	cursor: pointer;
}

